<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sonar.organization</key>
	<string>mandabhaskarakiranorganization</string>
	<key>sonar.projectKey</key>
	<string>MandaBhaskaraKiran_SonorCloudDemo</string>
	<key>sonar.sources</key>
	<string>.</string>
</dict>
</plist>
